<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.RolandAssoh.stopgalere.ci.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Use Hilt's test Application for instrumentation builds -->
    <application
        android:name="dagger.hilt.android.testing.HiltTestApplication"
        tools:replace="android:name" />
</manifest>
